/.vs
.vs
vs

# Ignore NuGet packages folder
/packages/

# Ignore build output
*.dll
*.exe
*.pdb
*.dll.config
*.cache
*.suo
*.user
*.bak
*.tmp

# Visual Studio files
.vscode/
.vs/
*.sln.cache
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.obj
*.bin
bin
obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.scc
*.swp
*.sdf
*.vc.db
*.vc.db-shm
*.vc.db-wal
*.aps
*.res
*.resources
*.pch
*.pidb
*.ipch
*.iobj
*.asm
*.asmx
*.ashx
*.aspx
*.soap
*.rem
*.xamlx
*.svclog
*.vspx
*.svc.cs
*.svcmap
*.snk
*.licx
*.metadat*
*.generated.cs

# Rider files
.idea/
*.sln.iml

# User-specific files
*.userprefs

# Roslyn cache directories
*.ide/
